In [1]:
import pandas as pd
import translators as ts
from googletrans import Translator
translator = Translator()
import tqdm
from collections import Counter

Using state Flanders server backend.

In [2]:
input_file = "invaluable_prices.csv"
output_file = "invaluable_english.csv"
#prices_df = pd.read_csv(input_file)
#prices_df["name_english"] = None
#prices_df.to_csv(output_file, index=None)
prices_df = pd.read_csv(output_file)
prices_df

,name,estimate,artist,name_english
0,"Alexandre Ivanov (1950-1998) Russian, two colo...",£80 - £120,Alexander Ivanov,"Alexandre Ivanov (1950-1998) Russian, two colo..."
1,IVANOV ALEXANDER ANDREIVICH (1806 - 1858) olie...,"€500 - €1,000",Alexander Ivanov,IVANOV ALEXANDER ANDREIVICH (1806 - 1858) oil ...
2,Alexander Ivanov Russian 1806-1858 Linocut,$200 - $400,Alexander Ivanov,Alexander Ivanov Russian 1806-1858 Linocut
3,IVANOV Alexander Andreivich 1806-1858,"€3,500 - €4,000",Alexander Ivanov,IVANOV Alexander Andreivich 1806-1858
4,IVANOV Alexander Andreivich Alexander Andreivi...,"€3,500 - €4,000",Alexander Ivanov,IVANOV Alexander Andreivich Alexander Andreivi...
...,...,...,...,...
40182,Michelangelo Buonarroti (1475-1564),"$2,500 - $3,000",Michelangelo Buonarroti,NaN
40183,Michelangelo Buonarroti. Le Rime...Publicate d...,€0 - €100,Michelangelo Buonarroti,NaN
40184,"Michelangelo (1475-1564), ""Sainte Familie,"" 18...",$200 - $300,Michelangelo Buonarroti,NaN
40185,Michelangelo (1475 Caprese - Rom 1564) nach. S...,€0 - €120,Michelangelo Buonarroti,NaN
40186,"Buonarroti, Michelangelo",€0 - €0,Michelangelo Buonarroti,NaN

In [3]:
counter = 0
indices = prices_df[prices_df["name_english"].isna()].index.values.astype(int)
for index in tqdm.tqdm(indices):
    counter += 1
    if counter%100 == 0:
        prices_df.to_csv(output_file, index=None)
    try:
        prices_df.at[index, 'name_english'] = translator.translate(prices_df.at[index, 'name']).text
    except:
        prices_df.at[index, 'name_english'] = ts.translate_text(prices_df.at[index, 'name'], to_language='en')
prices_df.to_csv(output_file, index=None)

100%|█████████████████████████████████████| 24188/24188 [35:35<00:00, 11.33it/s]